.adaptive, .default {
    width: 100%;
    height: 100%;
}

.adaptive {
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

.cover {
    background-position: initial;
}