body, p, h1, h2, h3, ul, img {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-size: 100%;
    font-weight: normal;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button, input {
    background-color: transparent;
    border: none;
    outline: none;
}

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #5B17AA;
    --grey-color: #000000B8;
    --grey-light-color: #E6E6E6;
    --grey-light-color-alpha: #6060602c;
    --grey-ultralight-color: #F4F4F4;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --products-in-cart: '3';
}

/* ------------------------------------------------------- */

/* sections */

/* ------------------------------------------------------- */

.block-component {
    display: block;
}

.inline-component {
    display: inline;
}

/* ------------------------------------------------------- */

/* utils */

/* ------------------------------------------------------- */

/* display */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

/* background-color */

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-grey-color {
    background-color: var(--grey-color);
}

.bg-grey-light-color {
    background-color: var(--grey-light-color);
}

.bg-grey-light-color-alpha {
    background-color: var(--grey-light-color-alpha);
}

.bg-grey-ultralight-color {
    background-color: var(--grey-ultralight-color);
}

.bg-black-color {
    background-color: var(--black-color);
}

.bg-white-color {
    background-color: var(--white-color);
}

/* text-color */

.text-primary-color {
    color: var(--primary-color);
}

.text-grey-color {
    color: var(--grey-color);
}

.text-grey-light-color {
    color: var(--grey-light-color);
}

.text-grey-ultralight-color {
    color: var(--grey-ultralight-color);
}

.text-black-color {
    color: var(--black-color);
}

.text-white-color {
    color: var(--white-color);
}

.text-shadow {
    text-shadow: 2px 5px 10px var(--grey-color);
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

/* fonts */

.font-roboto-regular {
    font-family: 'Roboto Regular';
}

.font-roboto-blackitalic {
    font-family: 'Roboto Blackitalic';
}

.font-helvetica-bold {
    font-family: 'Helvetica Bold';
}

.font-helvetica-medium {
    font-family: 'Helvetica Medium';
}

.font-helvetica-light {
    font-family: 'Helvetica Light';
}

.font-bebas {
    font-family: 'Bebas';
}

/* font size */

.font-size-small {
    font-size: 1vh;
}

.font-size-medium {
    font-size: 2vh;
}

.font-size-large {
    font-size: 3vh;
}

.font-size-superlarge {
    font-size: 5vh;
}

.font-size-extralarge {
    font-size: 7vh;
}

.font-size-main {
    font-size: 8vh;
}

/* ------------------------------------------------------- */

/* containers */

/* ------------------------------------------------------- */