/* ------------------------------------------------------- */

/* pages */

/* ------------------------------------------------------- */

/* .home {
    position: relative;
} */

/* ------------------------------------------------------- */

/* organisms */

/* ------------------------------------------------------- */

.organism {
    width: 100%;
}

.header {
    height: 20vh;
    position: sticky;
    top: 0;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
}

/* page: home */

.cover {
    
    background-color: blue;
}

.banners {
    background-color: green;
}

.top-products {
    background-color: purple;
}

.footer {
    background-color: black;
}

/* ------------------------------------------------------- */

/* molecules */

/* ------------------------------------------------------- */

/* organism: header */

.main-header {
    width: 90%;
    height: 100%;
    grid-template-columns: 25% 1fr 65%;
}

.main-header__logo {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    justify-content: start;
}

.main-header__options {
    width: 100%;
    height: 100%;
    grid-column: 3/4;
    justify-content: space-between;
}

.nav-header {
    width: 100%;
    height: 100%;
}

.nav-header__list {
    width: 60%;
    height: 100%;
    justify-content: space-evenly;
    column-rule: 10px solid red;
}

.nav-header__separator {
    height: 70%;
    border-left: 1px solid white;
}

.main-header__search-container {
    width: 65%;
    height: 100%;
}

.search {
    position: relative;
    width: 100vw;
    height: 6vh;
    grid-template-columns: 1fr 80px;
    gap: 0;
}

.results-box {
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: red;
    grid-column: 1/3;
}