<ul class="nav-container flex-center">

    <app-link [classList]="['text-white-color', 'font-size-large']" [type]="'navigation'" [text]="'Hombre'"
        [url]="'search-results'">
    </app-link>
    <app-link [classList]="['text-white-color', 'font-size-large']" [type]="'navigation'" [text]="'Mujer'" [url]="'#'">
    </app-link>
    <app-link [classList]="['text-white-color', 'font-size-large']" [type]="'navigation'" [text]="'Junior'" [url]="'#'">
    </app-link>
    <app-link [classList]="['text-white-color', 'font-size-large']" [type]="'navigation'" [text]="'Niños'" [url]="'#'">
    </app-link>
    <app-link [classList]="['text-white-color', 'font-size-large']" [type]="'navigation'" [text]="'Accesorios'"
        [url]="'#'"></app-link>
    <app-link [classList]="['text-white-color', 'font-size-large']" [type]="'navigation'" [text]="'Ofertas'"
        [url]="'#'">
    </app-link>

</ul>