<ul #nav class="nav-header__list flex">

    <app-button class="atom button close-menu-button" [style.width]="'6vh'" [style.height]="'6vh'"
        [classList]="['navigation-button']" [type]="'action'" [icon]="'icon-close'" [action]="{ name: 'close-menu' }">
    </app-button>

    <li>
        <app-link class="atom link" [style.width]="'100%'" [style.height]="'100%'"
            [classList]="['text-white-color', 'font-size-large', 'font-helvetica-bold']" [type]="'menu'"
            [text]="'Hombre'" [url]="'#'">
        </app-link>
    </li>
    <div class="nav-header__separator"></div>
    <li>
        <app-link class="atom link" [style.width]="'100%'" [style.height]="'100%'"
            [classList]="['text-white-color', 'font-size-large', 'font-helvetica-bold']" [type]="'menu'"
            [text]="'Mujer'" [url]="'#'">
        </app-link>
    </li>
    <div class="nav-header__separator"></div>
    <li>
        <app-link class="atom link" [style.width]="'100%'" [style.height]="'100%'"
            [classList]="['text-white-color', 'font-size-large', 'font-helvetica-bold']" [type]="'menu'"
            [text]="'Junior'" [url]="'#'">
        </app-link>
    </li>
    <div class="nav-header__separator"></div>
    <li>
        <app-link class="atom link" [style.width]="'100%'" [style.height]="'100%'"
            [classList]="['text-white-color', 'font-size-large', 'font-helvetica-bold']" [type]="'menu'"
            [text]="'Niños'" [url]="'#'">
        </app-link>
    </li>
    <div class="nav-header__separator"></div>
    <li>
        <app-link class="atom link" [style.width]="'100%'" [style.height]="'100%'"
            [classList]="['text-white-color', 'font-size-large', 'font-helvetica-bold']" [type]="'menu'"
            [text]="'Accesorios'" [url]="'#'">
        </app-link>
    </li>
    <div class="nav-header__separator"></div>
    <li>
        <app-link class="atom link" [style.width]="'100%'" [style.height]="'100%'"
            [classList]="['text-white-color', 'font-size-large', 'font-helvetica-bold']" [type]="'menu'"
            [text]="'Ofertas'" [url]="'#'">
        </app-link>
    </li>

</ul>