<ul class="nav-container flex-center">

    <li>
        <app-link class="inline-component" [classList]="['text-white-color', 'font-size-large', 'font-helvetica-bold']"
            [type]="'navigation'" [text]="'Hombre'" [url]="'#'">
        </app-link>
    </li>
    <div class="separator"></div>
    <li>
        <app-link class="inline-component" [classList]="['text-white-color', 'font-size-large', 'font-helvetica-bold']"
            [type]="'navigation'" [text]="'Mujer'" [url]="'#'">
        </app-link>
    </li>
    <div class="separator"></div>

    <li>
        <app-link class="inline-component" [classList]="['text-white-color', 'font-size-large', 'font-helvetica-bold']"
            [type]="'navigation'" [text]="'Junior'" [url]="'#'">
        </app-link>
    </li>
    <div class="separator"></div>

    <li>
        <app-link class="inline-component" [classList]="['text-white-color', 'font-size-large', 'font-helvetica-bold']"
            [type]="'navigation'" [text]="'Niños'" [url]="'#'">
        </app-link>
    </li>
    <div class="separator"></div>

    <li>
        <app-link class="inline-component" [classList]="['text-white-color', 'font-size-large', 'font-helvetica-bold']"
            [type]="'navigation'" [text]="'Accesorios'" [url]="'#'"></app-link>
    </li>
    <div class="separator"></div>

    <li>
        <app-link class="inline-component" [classList]="['text-white-color', 'font-size-large', 'font-helvetica-bold']"
            [type]="'navigation'" [text]="'Ofertas'" [url]="'#'">
        </app-link>
    </li>

</ul>