<!-- <app-header class="organism header grid"></app-header> -->
<!-- 
<app-cover class="block-component organism cover flex-center"></app-cover>

<app-banners class="block-component organism banners flex-center"></app-banners>

<app-top-products class="block-component organism top-products flex-center"></app-top-products>

<app-footer class="block-component organism footer flex-center"></app-footer> -->


<div class="organism cover flex">

    <app-nav-arrows class="molecule cover-nav-arrows flex" [type]="'normal'" [actionName]="'nav-cover'">
    </app-nav-arrows>

    <app-image class="atom cover-image" [classList]="[ 'cover' ]" [type]="'adaptive'"
        [src]="'/assets/images/banner-principal-desktop.png'">
    </app-image>

</div>

<div class="organism banners bg-white-color flex">

    <div class="banners__container grid" style="width: 90%;">

        <div class="molecule flex" style="width: 100%; position: relative;">

            <app-text class="atom banner-text" [type]="'h2'"
                [classList]="[ 'text-white-color', 'font-roboto-blackitalic', 'font-size-extralarge', 'text-shadow' ]"
                [text]="'MODA INFANTIL'">
            </app-text>

            <app-image class="atom image" [type]="'default'"
                [src]="'/assets/images/categorias-destacadas-moda-infantil.png'">
            </app-image>

        </div>

        <div class="molecule flex" style="width: 100%; position: relative;">

            <app-text class="atom banner-text" [type]="'h2'"
                [classList]="[ 'text-white-color', 'font-roboto-blackitalic', 'font-size-extralarge', 'text-shadow' ]"
                [text]="'PROTECCIÓN'">
            </app-text>

            <app-image class="atom image" [type]="'default'"
                [src]="'/assets/images/categorias-destacadas-proteccion.png'">
            </app-image>

        </div>
    </div>



</div>

<app-top-products class="organism top-products flex"></app-top-products>

<div class="footer"></div>