<app-header class="organism header grid"></app-header>
<!-- 
<app-cover class="block-component organism cover flex-center"></app-cover>

<app-banners class="block-component organism banners flex-center"></app-banners>

<app-top-products class="block-component organism top-products flex-center"></app-top-products>

<app-footer class="block-component organism footer flex-center"></app-footer> -->


<div class="organism cover">
    <app-button></app-button>

</div>

<div class="banners"></div>

<div class="top-products"></div>

<div class="footer"></div>